* {
    text-align: center;
}
body {
    margin-top: 10%;
    width: 100%;
}
.toDoBlock {
    width: 50%;
    margin: 0 auto;
}
ul {
    list-style: none;
}

#icon {
    display: inline-block;
}
#inputTask {
    border: none;
    border-bottom: 2px solid black ;
    width: 50%;
}
.task{
    word-wrap: break-word;
    display: inline-block;
    margin-top: 10px;
    background: #bec2b0;
    width: 50%;
    height: auto;
    border: 1px solid plum;
}
.task p {
    display: block;
    width: 100%;
}
.filterClass {
    margin-top: 30px;
}
.editTask {
    width: 195px;
}
.delBlock {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
    width: 300px;
    height: 100px;
    border: 2px solid #8359ff;
    background: #87838b;
}
.buttonNav {
    display: inline;
}
label {
    display: block;
}
.editBlock {
    display: none;
    position: absolute;
    top: 30%;
    left: 40%;
    text-align: center;
    width: 300px;
    height: 200px;
    border: 2px solid #8359ff;
    background: #87838b;
}
